header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

header button {
  margin: 0;
  background-color: #F7F2DE;
  cursor: pointer; 
}

#FRAM1 {
  flex: 1;
  display: flex;
  justify-content: center;
  font-family: Frank Ruhl Libre, Light;
  background-color: #F7F2DE;
  margin: 0;
}
