:root {
  --bg: #f7f1de;
  --accent: #d84735;
  --text: #1e1e1e;
  --muted: #666;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Georgia, serif;
}

body {
  background: var(--bg);
  color: var(--text);
}

/* HEADER */
.header {
  display: grid;
  grid-template-columns: 40px 1fr 40px;
  align-items: center;
  padding: 16px 24px;
  border-bottom: 1px solid #ccc;
}

.logo {
  text-align: center;
  font-weight: normal;
  letter-spacing: 2px;
}

.menu {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.cart-badge {
 background-color: #28BD6D;
  border-radius: 50px;
  width: 47px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

/* MAIN */
.container {
  padding: 48px;
}

.produce h2 {
  font-size: 32px;
  margin-bottom: 12px;
}

.intro {
  max-width: 520px;
  line-height: 1.6;
  margin-bottom: 40px;
  color: var(--muted);
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 32px;
}

.card {
  position: relative;
}

.card img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 6px;
}


.add-to-basket {
  position: absolute;
  bottom: 16px;
  right: 16px;
  background: black;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 20px;
  font-size: 13px;
  cursor: pointer;
}


.meta {
  margin-top: 12px;
}

.meta h3 {
  font-size: 18px;
  font-weight: normal;
}

.meta span {
  float: right;
}

.meta small {
  display: block;
  color: var(--muted);
  margin-top: 4px;
}

/* PARTNERS */
.partners {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 80px;
  border-top: 1px solid #ccc;
}

.partners-text {
  padding: 60px;
  font-size: 28px;
  line-height: 1.3;
}

.map {
  padding: 40px;
}

.map-placeholder {
  background: #d9efe3;
  height: 300px;
  border-radius: 12px;
  display: grid;
  place-items: center;
  color: #2a7a5e;
}

/* FOOTER */
.footer {
  background: var(--accent);
  color: white;
  padding: 48px;
  margin-top: 80px;
}

.footer h2 {
  margin-bottom: 24px;
  font-weight: normal;
}

.newsletter {
  max-width: 420px;
}

.newsletter h3 {
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  height: 36px;
  display: flex;
  align-items: center;
}

.newsletter p {
   font-family: 'Frank Ruhl Libre', serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  height: 84px;
  display: flex;
  align-items: center;
  max-width: 600px;
}


.newsletter input {
   background-color: #FFFFFF;
  border-radius: 4px;
  padding: 10px 16px;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 19.09px;
  color: rgba(0, 0, 0, 0.6);
  height: 44px;
  width: 100%;
  gap: 16px;
   margin-bottom: 16px;
  
}